<html>
    <head>
        <title>Pizzeria - Leave a Comment</title>
    </head>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: large;
          background-image: url('https://img.freepik.com/free-vector/pizza-doodle-patterned-background_53876-97421.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
      </style>
    <body>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);background-color: rgb(255, 233, 200);">

        <h1>Leave a Comment</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="commenter_name">Name:</label>
                <input type="text" name="commenter_name" id="commenter_name" value="{{ comment.commenter_name }}">
            </p>
            <p>
                <label for="comment_text">Comment:</label>
                <textarea name="comment_text" id="comment_text">{{ comment.comment_text }}</textarea>
            </p>
            <p>
                <button type="submit">Submit</button>
                <button onclick="window.history.back()">Back</button>
            </p>
        </form>
    </body>
</html>
